<div style="text-align: center;">

<h1>Tite de la ville : <%= @city.name %></h1>

<p >Et voici son code Zip :</p>
<p ><%= @city.zip_code %></p>

<p>
<a href="<%= cities_path %>" class="btn btn-primary">Revenir à l'index</a>
</p>
</div>
